<!-- As a user, I would like to be able to select a bill and see the following information about it: name and description, sponsor, committee, date introduced, link to the latest version -->

<p><strong>Bill Name:</strong> {{bill.official_title}}</p>
<p>Sponsor:</strong> {{bill.sponsor.first_name}}{{bill.sponsor.last_name}} </p>
<p>Sponsor: {{bill.sponsor.first_name}}{{bill.sponsor.last_name}} </p>
